.hoverEffect:hover .image {
  opacity: 0.3;
}
.hoverEffect:hover .middle {
  opacity: 1;
}
.hoverEffect {
  position: relative;
}
.image {
  border-radius: "5px 5px 0px 0px";
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}
.text:hover {
  text-decoration: underline;
}
.contentContainer {
  padding: 6%;
}
.title {
  font-weight: 700;
  font-size: 25px;
}
.content {
  color: grey;
}
.authorDetails {
  display: flex;
  flex-wrap: wrap;
  color: grey;
  margin-top: "7%";
  justify-content: "space-between";
}
